---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
// import Counter from "@components/Counter.astro";
// import counter from "@content/counter.json";
import { about } from "@content/about";
import Content from "@components/Content.astro";
---

<Layout>
  <section class="grid py-5">
    <h1 class="sm:text-4xl text-3xl font-bold mb-6 dark:text-white">About</h1> 
    <p>I am a <span class="font-bold">User Experience</span> designer who enjoys experimenting<br /> with ideas that <span class="font-bold">dent the universe</span>.</p>
  </section>
  {about.map((about) => <Content title={about.title} content={about.content} />)}
  <!-- <section class="py-10 sm:flex sm:items-center sm:justify-evenly text-center sm:text-left">
    {
      (
        <ul class="grid sm:grid-cols-3 gap-16">
          {counter.map((counter) => (
            <Counter number={counter.number} label={counter.label} />
          ))}
        </ul>
      )
    }
  </section> -->
  <Footer />
</Layout>