---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About";
const description = "About your blog.";
const permalink = `${Astro.site.href}about`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="about"
>
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img
        src="/assets/kylebondo.com-profile-pic.webp"
        width="400"
        height="400"
      />
      <!-- <figcaption>
        Illustration by
        <a
          href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6"
          target="_blank"
          rel="noopener">Icons 8</a
        >
        from
        <a
          href="https://icons8.com/illustrations"
          target="_blank"
          rel="noopener">Ouch!</a
        >
      </figcaption> -->
    </figure>
    <p>
      Hi, I'm <strong>Kyle</strong>. I'm a podcasting enthusiast, ghost
      engineer, storyteller, mad scientist, and part-time mercenary with a
      passion for podcast technology, user experience design, and wicked design
      thinking. I strive to make a small dent in the podcasting universe through
      creative innovation. From producing dramatic podcasts to building
      simplified tech solutions, I’m always driven to make podcasting easier.
    </p>
    <p>
      I've been podcasting for almost a decade now and have been working on
      building podcast systems and software that can be used to simplify the
      complicated world of podcasting. This inspired me to found <em
        ><a href="https://oncetold.us" target="_blank">Oncetold</a>
      </em>, a podcasting education and technology company that provides a
      simplified toolkit for building podcasts.
    </p>
    <p>
      Before <em><a href="https://oncetold.us" target="_blank">Oncetold</a></em>
      was <em>Gagglepod</em>, a podcast design studio I co-founded with <a
        href="https://createartpodcast.com"
        target="_blank">Timothy Kimo Brien</a
      >. Through Gagglepod we held hundreds of meetups and virtual coaching
      seminars that taught new podcasters how to create shows, use audio
      technology, and build good podcasts.
    </p>
    <p>
      Out of Gagglepod, Tim and I started <em
        ><a href="https://podwrecked.com" target="_blank">Podwrecked</a></em
      >, a podcast to help podcasters survive their podcast, and helped me
      launch my podcasting speaking experiments. These experimental talks
      allowed me to test ideas as a featured speaker at several conferences
      including <a href="https://podfestexpo.com/" target="_blank"
        >Podfest Expo</a
      >, <a href="https://podfestglobal.online/" target="_blank"
        >Podcast Global</a
      >, Independent Podcast Conference (ICON), <a
        href="https://www.indiepodcon.com/"
        target="_blank">Mid-Atlantic Podcast Conference (MAPCON)</a
      >, <a href="https://galaxycon.com/pages/richmond" target="_blank"
        >GalaxyCon</a
      > and several <a href="https://central.wordcamp.org/" target="_blank"
        >WordCamps</a
      >. View several of my most recent talks on my <a
        href="https://www.youtube.com/@gagglepod3628"
        target="_blank">Gagglepod YouTube Channel</a
      >.
    </p>
    <p>
      Many of my personal lessons learned are explored in my podcast <em
        ><a href="https://noteasilysquished.com" target="_blank"
          >Not Easily Squished</a
        ></em
      >. In this on-going series I give listeners advice on how to take fragile
      podcast idea and transform it into fierce audio concept. All the podcast
      education that I've researched, tested, and experienced with <em
        ><a href="https://noteasilysquished.com" target="_blank"
          >Not Easily Squished</a
        ></em
      >, <em><a href="https://podwrecked.com" target="_blank">Podwrecked</a></em
      >, and all <a href="https://oncetold.com/learn" target="_blank"
        >podcasting talks</a
      > will soon be a book called <em>Not Easily Squished</em>.
    </p>
    <p>
      One of my secret passions is the creation of audio dramas. It all started
      when I took a 30-day challenge to make a daily Audio Drama. The end result
      was <em
        ><a href="https://pausefordramaticeffect.com" target="_blank"
          >PAUSE for Dramatic Effect</a
        ></em
      >, a 17-episode serial podcast that let me have fun with writing,
      directing, producing, and even voice acting. Since then, I have been
      writing scripts that will become future audio dramas that will be produced
      by <em><a href="https://oncetold.us" target="_blank">Oncetold</a></em>.
    </p>

    <p>
      Another experiment I have taken on was creating the <em
        ><a href="https://flowgnar.com/" target="_blank">Flowgnar</a></em
      > podcast. I wanted a soundtrack that I could use when riding my mountain bike
      that featured local and independent music. <em
        ><a href="https://flowgnar.com/" target="_blank">Flowgnar</a></em
      > became the result and is one of only a dozen <a
        href="https://value4value.info/"
        target="_blank">Value4Value</a
      > music podcasts and was essential in helping me build several <a
        href="https://github.com/Podcastindex-org"
        target="_blank">Podcasting 2.0</a
      > features into the <em
        ><a href="https://oncetold.us" target="_blank">Oncetold</a></em
      > platform.
    </p><p>
      When I'm not mountain biking, I'm reading about the American Civil War. As
      a big Civil War enthusiast I created <em
        ><a href="https://waryankee.com" target="_blank"
          >War Yankee - Overland</a
        ></em
      >, a history podcast that explored the <em
        ><a href="https://waryankee.com" target="_blank">Overland Campaign</a
        ></em
      > of 1864, as a way to explore the battlefields that surrounded my home in
      Fredericksburg, Virginia. The podcast includes music and sound effects to create
      a historical soundscape, making learning about history more engaging.
    </p>
    <p>
      Finally, I've founded a few small businesses in my day. One of these
      companies was <em
        ><a href="https://merchantsofdirt.com" target="_blank">Reckoneer</a></em
      >. I built Reckoneer from a blog into an outdoor racing company, that
      taught new race directors the business of endurance racing, race promotion
      and event production. It was through Reckoneer that I started podcasting
      with the creation of my highly successful podcast <em
        ><a href="https://merchantsofdirt.com" target="_blank"
          >Merchants of Dirt</a
        ></em
      >.
    </p>
    <p>
      I’m honored to have been featured in all five volumes of <em
        ><a href="https://livestreamuniverse.com/books/" target="_blank"
          >100 Livestreaming & Digital Media Predictions</a
        > by Ross Brand</em
      >, with recent contributions in <em
        >Volume 5 (#34 – "In a World of AI Slop, Be the Human")</em
      > and <em>Volume 4 (#97 – "Whispers Through Time")</em>.
    </p>
    <p>
      When I’m not working on podcasts or building platforms like <em
        ><a href="https://oncetold.us" target="_blank">Oncetold</a></em
      >, you can find me exploring the intersection of creativity and
      technology, designing user experiences, and collaborating with teams
      passionate about making an impact. My work has spanned many domains, from
      podcasting to UX design, and I’m always excited to see where technology
      will take us next.
    </p>
    <p>
      You can learn more at <em
        ><a href="https://oncetold.us" target="_blank">Oncetold</a></em
      >.
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 2rem;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
