---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About";
const description = "About your blog.";
const permalink = `${Astro.site.href}about`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="about"
>
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img
        src="/assets/kylebondo.com-profile-pic.webp"
        width="400"
        height="400"
      />
      <!-- <figcaption>
        Illustration by
        <a
          href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6"
          target="_blank"
          rel="noopener">Icons 8</a
        >
        from
        <a
          href="https://icons8.com/illustrations"
          target="_blank"
          rel="noopener">Ouch!</a
        >
      </figcaption> -->
    </figure>
    <p>
      Hi, I'm <strong>Kyle</strong>. I'm a UX Designer, Software Engineer and
      Podcaster based in Fort Worth, Texas. You can listen to me on <a
        href="https://waryankee.com"
        target="_blank">War Yankee</a
      > or see some of my work on <a
        href="https://github.com/gagglepod"
        target="_blank">GitHub</a
      >.
    </p>
    <p>
      I love user experience design, wicked design thinking, low-fidelity
      wireframing, podcasting, emerging technology, and leading teams excited in
      making a small dent in the universe. My problem-solving skills were honed
      from years of chaos management in the US Navy and parenting - both
      surprisingly similar.
    </p>
    <p>
      I've been podcasting for over 7 years now and have been working on
      processes and software that simplify the complicated world of podcasting.
      This inspired me to develop my first podcasting media platform called <em
        ><a href="https://oncetold.us" target="_blank">Oncetold</a>
      </em>, a simplified toolkit for building podcasts.
    </p>
    <p>
      Before <a href="https://oncetold.us" target="_blank">Oncetold</a> was <em
        >Gagglepod</em
      >, a podcast design studio I co-founded with <a
        href="https://createartpodcast.com"
        target="_blank">Timothy Kimo Brien</a
      >. Through Gagglepod we held hundreds of meetups and virtual coaching
      seminars that taught new podcasters how to create shows, use audio
      technology, and build good podcasts. Out of Gagglepod, Tim and I started <em
        >Podwrecked</em
      >, a podcast to help podcasters survive their podcast, and helped me
      become a featured speaker at several conferences including <a
        href="https://podfestexpo.com/"
        target="_blank">Podfest Expo</a
      >, <a href="https://podfestglobal.online/" target="_blank"
        >Podcast Global</a
      >, Independent Podcast Conference (ICON), <a
        href="https://www.indiepodcon.com/"
        target="_blank">Mid-Atlantic Podcast Conference (MAPCON)</a
      >, <a href="https://galaxycon.com/pages/richmond" target="_blank"
        >GalaxyCon</a
      > and several <a href="https://central.wordcamp.org/" target="_blank"
        >WordCamps</a
      >. View several of my most recent talks on my <a
        href="https://www.youtube.com/@gagglepod3628"
        target="_blank">Gagglepod YouTube Channel</a
      >.
    </p>
    <p>
      Once upon a time, I took on the challenge to make an Audio Drama. The end
      result was <a href="https://pausefordramaticeffect.com" target="_blank"
        >PAUSE for Dramatic Effect</a
      >, a 17-episode serial podcast that let me have fun with writing,
      directing, producing, and even voice acting.
    </p>
    <p>
      I am a big American Civil War enthusiast and created <a
        href="https://waryankee.com"
        target="_blank">War Yankee</a
      >, a history podcast that explores the <em>Overland Campaign</em> of 1864,
      as a way to explore the battlefields that surrounded my home in Fredericksburg,
      Virginia.
    </p>
    <p>
      Finally, I've founded a few small businesses in my day. One of these
      companies was Reckoneer. I built Reckoneer from a blog into an outdoor
      racing company, that taught new race directors the business of endurance
      racing, race promotion and event production. It was through Reckoneer that
      I started podcasting with the creation of my highly successful podcast <em
        >Merchants of Dirt</em
      >.
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 2rem;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
