---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Podcasts";
const description = "Talks that I have given.";
const permalink = `${Astro.site.href}podcasts`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="podcasts"
>
  <div class="container">
    <h1>Podcasts</h1>

    <p>
      <strong
        ><a href="https://flowgnar.com/" target="_blank">Flowgnar</a>
      </strong>
      <br />
      Flowgnarl is a music podcast featuring Valueverse artists who grind the trail,
      flow over the drops, and climb the gnar. Each episode turns your off-road workout
      into a personal adventure by turning curated Value 4 Value playlists into pure
      endurance fuel.
      <br />
      Host, Producer, Writer, and Editor
      <br />
      2024-Present
      <br />
      [<a href="https://podcastindex.org/podcast/6933361" target="_blank"
        >PODCAST</a
      >] [<a href="https://flowgnar.com/" target="_blank">WEBSITE</a>]
    </p>

    <p>
      <strong
        ><a href="https://waryankee.com/" target="_blank"
          >War Yankee - Overland</a
        >
      </strong>
      <br />
      War Yankee is an American Civil War podcast focused on the Overland Campaign
      of 1864. Join amateur historian and US Navy veteran Kyle M. Bondo, as he follows
      the history of Grant's Overland Campaign from Washington, DC, to Petersburg,
      Virginia.
      <br />
      Host, Producer, Researcher, Writer, Foley Artist, Soundscape Artist, and Editor
      <br />
      2021-Present
      <br />
      [<a href="https://podcastindex.org/podcast/452056" target="_blank"
        >PODCAST</a
      >] [<a href="https://waryankee.com/" target="_blank">WEBSITE</a>]
    </p>

    <p>
      <strong
        ><a href="https://noteasilysquished.com/" target="_blank"
          >Not Easily Squished</a
        >
      </strong>
      <br />
      Podcasting starts with an idea. However, long before their creators ever sit
      down at the microphone, a podcast idea needs to be hardened, tested and found
      worthy. Follow your host Kyle M. Bondo as he takes fragile podcast ideas and
      transforms them into fierce audio concepts that are Not Easily Squished!
      <br />
      Host, Producer, Writer, and Editor
      <br />
      2021-Present
      <br />
      [<a href="https://podcastindex.org/podcast/6014487" target="_blank"
        >PODCAST</a
      >] [<a href="https://noteasilysquished.com/" target="_blank">WEBSITE</a>]
    </p>

    <p>
      <strong
        ><a href="http://pausefordramaticeffect.com/" target="_blank"
          >PAUSE for Dramatic Effect</a
        >
      </strong>
      <br />
      Douglas Dire's world is one of isolation. Once a decorated veteran, he now
      roams the streets with a fleeting grip on reality and a dark past full of unresolved
      pain. That is until he stumbles upon a ring in an empty parking lot that forces
      him to confront a secret he didn't know he was keeping. Featuring the voice
      talents of Julie Bondo, Stephanie Y. Cole, Emmett Bondo, Timothy Kimo Brien,
      Zach Bondo, and Kyle M. Bondo. Produced by Gagglepod. Featured during <a
        href="http://napodpomo.org/"
        target="_blank">NaPodPoMo 2019</a
      >.
      <br />
      Writer, Director, Producer, Voice Actor, Foley Artist, Soundscape Artist, and
      Editor
      <br />
      2019-2020
      <br />
      [<a href="https://podcastindex.org/podcast/847866" target="_blank"
        >PODCAST</a
      >] [<a href="http://pausefordramaticeffect.com/" target="_blank"
        >WEBSITE</a
      >]
    </p>

    <p>
      <strong
        ><a href="https://podwrecked.com/" target="_blank">Podwrecked</a>
      </strong>
      <br />
      Podwrecked is dedicated to helping you survive your podcast. We work through
      all the challenges that podcasters struggle with and find creative ways to
      move forward in your podcasting journey. Join your hosts Timothy Kimo Brien
      and Kyle Bondo as they navigate the uncharted dangers of podcasting and guide
      you to safer harbors.
      <br />
      Co-Host with <a href="http://createartpodcast.com" target="_blank"
        >Timothy Kimo Brien</a
      >, Producer, Writer, and Editor
      <br />
      2018-2021
      <br />
      [<a href="https://podcastindex.org/podcast/74900" target="_blank"
        >PODCAST</a
      >] [<a href="https://podwrecked.com/" target="_blank">WEBSITE</a>]
    </p>

    <p>
      <strong>Podfader</strong>
      <br />
      Podfader focuses on the design challenges that podcasters face when creating
      a new show or deciding to let an existing show go in favor of podcasting about
      something new. If you’re struggling to create a new podcast, Podfader will
      help you to focus on the important parts of podcast design thinking.
      <br />
      Host, Producer, Writer, and Editor
      <br />
      2018-2019
    </p>

    <p>
      <strong>Get Lost Racing</strong>
      <br />
      Get Lost Racing (GLR) will help you Master the Endurance Sports that make up
      Off-Road Racing by teaching you what they are, how they work, and what makes
      them great -- one discipline at a time!
      <br />
      Host, Producer, Writer, Researcher, and Editor
      <br />
      2017-2018
    </p>

    <p>
      <strong
        ><a href="https://merchantsofdirt.com/" target="_blank"
          >Merchants of Dirt</a
        >
      </strong>
      <br />
      Merchants of Dirt is your insider's guide to the art and science of building,
      promoting, and directing off-road races. Join Kyle M. Bondo has he shares 20
      years of practical sports management advice that you can use to start your
      own off-road racing business.
      <br />
      Host, Producer, Writer, Researcher, and Editor
      <br />
      2016-2020
      <br />
      [<a href="https://podcastindex.org/podcast/6813508" target="_blank"
        >PODCAST</a
      >] [<a href="https://merchantsofdirt.com/" target="_blank">WEBSITE</a>]
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 2rem;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
