---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Speaking";
const description = "Talks that I have given.";
const permalink = `${Astro.site.href}speaking`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="speaking"
>
  <div class="container">
    <h1>Speaking</h1>

    <p>
      <strong
        ><a href="https://waryankee.com/" target="_blank"
          >War Yankee - Overland</a
        >
      </strong>
      <br />
      Host, Producer, Researcher, Writer, Foley Artist, Soundscape Artist, and Editor
      of <em>War Yankee - Overland</em>: An American Civil War history podcast
      focused on Grant's US Army Overland Campaign of 1864.
      <br />
      20 Episodes (2021-Present)
      <br />
      [<a
        href="https://podcasts.apple.com/us/podcast/war-yankee-overland/id1522169260"
        target="_blank">PODCAST</a
      >]
    </p>

    <p>
      <strong
        ><a href="https://vidfestexpo.com/" target="_blank"
          >Podcast Global/Vidfest Global 2021</a
        >
      </strong>
      <br />
      Featured Speaker presenting two talks (Full Hour). The first talk was titled
      <em>Twitch Your Pod: Create a Live Podcast Using Twitch</em> and an encore
      presentation of <em
        >Twitch Noobs: A Dad's Guide to Understanding Twitch</em
      > that taught podcasters how to use Twitch as a platform for live content.
      <br />
      Presented on March 4th, 2021
    </p>

    <p>
      <strong
        ><a href="https://vidfestexpo.com/" target="_blank"
          >Podcast Global/Vidfest Global 2020</a
        >
      </strong>
      <br />
      Featured Speaker presenting a talk titled <em
        >Twitch Noobs: A Dad's Guide to Understanding Twitch</em
      > that explored the benefits of using Twitch as a content creation platform.
      <br />
      Presented on December 2nd, 2020
      <br />
      [<a href="https://youtu.be/wlrb4Ph_Ogc" target="_blank">VIDEO</a>]
    </p>

    <p>
      <strong
        ><a href="https://podfestexpo.com/" target="_blank"
          >Podfest Global 2020</a
        >
      </strong>
      <br />
      Case Study Speaker presenting a talk titled <em
        >My Daily Audio Drama Experiment</em
      > that taught podcasters my lessons learned in creating an audio drama.
      <br />
      Presented on August 15th, 2020
      <br />
      [<a href="https://youtu.be/vXEo_6Gjkro" target="_blank">VIDEO</a>]
    </p>

    <p>
      <strong
        ><a
          href="https://www.independentpodcastconference.com/virtual/"
          target="_blank">Podcasting For Beginners Virtual Conference 2020</a
        >
      </strong>
      <br />
      Featured Speaker presenting a talk titled <em
        >Story Hunting: How To Design Good Content</em
      > that taught new podcasters how to create content to cover their first year
      as podcasters.
      <br />
      Presented on June 13, 2020
      <br />
      [<a href="https://youtu.be/8rABcF4fJkY" target="_blank">VIDEO</a>]
    </p>

    <p>
      <strong
        ><a
          href="https://www.independentpodcastconference.com/virtual/"
          target="_blank">Super Entrepreneur Virtual Conference 2020</a
        >
      </strong>
      <br />
      Featured Speaker presenting a talk titled <em
        >The Long Game: How to create brand podcasts that redefine Industry
        Conversations</em
      > that taught podcasters the 5 secrets to creating loyal brand podcasts.
      <br />
      Presented on April 11, 2020.
      <br />
      [<a href="https://youtu.be/lIWt1B-Mms0" target="_blank">VIDEO</a>]
    </p>

    <p>
      <strong>StreamYard Connect (with Ross Brand)</strong>
      <br />
      Featured Guest talking about how to <em>Design Your Show</em>
      <br />
      Published on April 8, 2020.
      <br />
      [<a
        href="https://www.linkedin.com/video/live/urn:li:ugcPost:6653713201177423872/"
        target="_blank">LINKEDIN</a
      >] [<a
        href="https://www.facebook.com/streamyardapp/videos/589303821796973"
        target="_blank">FACEBOOK</a
      >]
    </p>

    <p>
      <strong
        ><a
          href="https://www.independentpodcastconference.com/virtual/"
          target="_blank">Independent Podcast Conference (ICON) Virtual 2020</a
        >
      </strong>
      <br />
      Featured Speaker presenting a talk titled <em
        >Stop Podwrecking: Design Your Podcast First!</em
      > that taught podcasters how to create a better podcast WHY statement.
      <br />
      Presented on March 29, 2020
      <br />
      [<a href="https://youtu.be/9d7yrtSdoqI" target="_blank">VIDEO</a>]
    </p>

    <p>
      <strong
        ><a href="https://podfestexpo.com/" target="_blank"
          >Podfest Multimedia Expo 2020</a
        >
      </strong>
      <br />
      Featured Speaker presenting a talk titled <em
        >Stop Podwrecking: Design Your Podcast First!</em
      > that taught podcasters how to create a better podcast WHY statement.
      <br />
      Presented on March 7, 2020, in Orlando, Florida
      <br />
      [<a href="https://youtu.be/79lqI__i5UU" target="_blank">VIDEO</a>]
    </p>

    <p>
      <strong>The Podcast Design Plan</strong>
      <br />
      Presenter for an online webinar titled <em
        >The Podcast Design Plan: 5 Principles for Designing and Creating a
        Successful Podcast</em
      > that taught new podcasters how to design a podcast.
      <br />
      Presented on November 11th, 2020
      <br />
      [<a href="https://youtu.be/3_cdS4wSe8w" target="_blank">VIDEO</a>]
    </p>

    <p>
      <strong
        ><a
          href="https://www.independentpodcastconference.com/avoid-podfading/"
          target="_blank">IndyPodCon with Joe Pardo (Ep. 42)</a
        >
      </strong>
      <br />
      Featured Guest talking about <em>How to Avoid Podfading</em>
      <br />
      Published on November 7, 2019.
      <br />
      [<a href="https://youtu.be/sPhSfMNg2Tk" target="_blank">VIDEO</a>] [<a
        href="https://pca.st/bpznxh88"
        target="_blank">PODCAST</a
      >]
    </p>

    <p>
      <strong
        ><a href="http://pausefordramaticeffect.com/" target="_blank"
          >PAUSE for Dramatic Effect</a
        >
      </strong>
      <br />
      Writer, Director, Producer, and Voice Actor for <em
        >PAUSE for Dramatic Effect</em
      >: An audio drama podcast about a US Marine Corps veteran challenged by
      survivor's guilt, dark forces, and ancient magic. Featuring the voice
      talents of Julie Bondo, Stephanie Y. Cole, Emmett Bondo, Timothy Kimo
      Brien, Zach Bondo, and Kyle M. Bondo. Produced by Gagglepod. Featured
      during <a href="http://napodpomo.org/" target="_blank">NaPodPoMo 2019</a>.
      <br />
      Released on November 1, 2019.
      <br />
      [<a href="http://pausefordramaticeffect.com/" target="_blank">WEBSITE</a>]
      [<a
        href="https://podcasts.apple.com/us/podcast/pause-for-dramatic-effect/id1484748208"
        target="_blank">PODCAST</a
      >]
    </p>

    <p>
      <strong
        ><a href="https://podcastmidatlantic.com/" target="_blank"
          >Mid-Atlantic Podcast Conference (MAPCON5) 2019</a
        >
      </strong>
      <br />
      Featured Speaker presenting a talk titled <em
        >What is your weird thing?</em
      > that taught podcasters how audio memes are useful in podcast branding.
      <br />
      Presented on September 7, 2019, in Atlantic City, New Jersey
      <br />
      [<a href="https://youtu.be/T9H8Zp3Pbts" target="_blank">VIDEO</a>]
    </p>

    <p>
      <strong
        ><a href="https://galaxycon.com/" target="_blank"
          >GalaxyCon Comic Convention 2019</a
        >
      </strong>
      <br />
      Featured Panelist for a Breakout Session titled <em
        >Adventures in Podcasting with Tim Brien and Kyle Bondo</em
      > explored the topic of how live role-playing games can use podcasting to build
      an audience.
      <br />
      Presented on June 02, 2019, in Richmond, Virginia
    </p>

    <p>
      <strong
        ><a href="https://podfestexpo.com/" target="_blank"
          >Podfest Multimedia Expo 2019</a
        >
      </strong>
      <br />
      Pecha Kucha Speaker presenting a talk titled <em
        >Canceled Podcasts: How Not to Name Your Show</em
      > taught new podcasters how to avoid bad names for podcasts.
      <br />
      Presented on March 7, 2019, in Orlando, Florida
    </p>

    <p>
      <strong
        ><a href="https://www.dcpodfest.com/" target="_blank">DC Podfest 2018</a
        >
      </strong>
      <br />
      Featured Speaker presenting a talk titled <em
        >Introduction to Podcasting Hardware</em
      > that taught new podcasters the basics of a podcast studio setup based on
      production needs.
      <br />
      Presented on November 10, 2018, in Washington, DC
      <br />
      [<a
        href="https://www.slideshare.net/KyleBondo/dc-podfest-tech-talk-podcasting-gear-101"
        target="_blank">SLIDES</a
      >]
    </p>

    <p>
      <strong
        ><a
          href="https://podcasts.apple.com/us/podcast/podwrecked/id1441480507"
          target="_blank">Podwrecked</a
        >
      </strong>
      <br />
      Co-Host with <a href="http://createartpodcast.com" target="_blank"
        >Timothy Kimo Brien</a
      >, Producer, Writer, and Editor of <em>Podwrecked</em>: A podcast about
      how to create, grow, and survive your podcast.
      <br />
      Published on November 07, 2018.
      <br />
      55 Episodes (2018-Present)
      <br />
      [<a
        href="https://podcasts.apple.com/us/podcast/podwrecked/id1441480507"
        target="_blank">PODCAST</a
      >]
    </p>

    <p>
      <strong
        ><a href="https://podcastmidatlantic.com/" target="_blank"
          >Mid-Atlantic Podcast Conference (MAPCON4) 2018</a
        >
      </strong>
      <br />
      Spotlight Speaker presenting a talk titled <em
        >Say What? Put down your microphone and plan your show!</em
      > taught new podcasters the need to design their podcast before buying any
      equipment.
      <br />
      Presented on September 7, 2018, in Swedesboro, New Jersey
      <br />
      [<a href="https://youtu.be/v5nkgGpaSsA" target="_blank">VIDEO</a>] [<a
        href="https://www.slideshare.net/KyleBondo/mapcon-talk-on-podcast-design"
        target="_blank">SLIDES</a
      >]
    </p>

    <p>
      <strong>Angry MountainBiker Show (Ep.193)</strong>
      <br />
      In-Studio Featured Guest talking about <em
        >mountain bike race direction</em
      >.
      <br />
      Published on May 06, 2018.
    </p>

    <p>
      <strong>Podfader</strong>
      <br />
      Host, Producer, Writer, and Editor of <em>Podfader</em>: A podcast about
      what to do when podcasting gets hard.
      <br />
      18 Episodes (2018-2019)
    </p>

    <p>
      <strong
        ><a
          href="http://schoolofpodcasting.com/live-floor-podfest/"
          target="_blank">School of Podcasting (Ep.605)</a
        >
      </strong>
      <br />
      Featured Guest giving Dave a <em>Because of my Podcast</em> story.
      <br />
      Published on February 13, 2018.
      <br />
      [<a
        href="http://schoolofpodcasting.com/live-floor-podfest/"
        target="_blank">PODCAST</a
      >] [<a
        href="http://traffic.libsyn.com/schoolofpodcasting/SOP605-011318.mp3"
        target="_blank">MP3 DOWNLOAD</a
      >]
    </p>

    <p>
      <strong
        ><a href="https://podfestexpo.com/" target="_blank"
          >Podfest Mulitmedia Expo 2018</a
        >
      </strong>
      <br />
      Featured Panelist for a Breakout Session titled <em
        >Growing Your Community through Local Meetups with Kyle Bondo, Mark
        Deal, Jaime Legagneur, and Amanda Lairsey. MC: Mathew Passy</em
      > where we discussed the dynamics of running a community.
      <br />
      Presented on February 10, 2018, in Orlando, Florida.
    </p>

    <p>
      <strong>Podcastification (Ep.87)</strong>
      <br />
      Featured Guest talking about <em
        >Effective Podcast Marketing &amp; Content Creation Anyone Can Do</em
      >.
      <br />
      Published on January 23, 2018.
    </p>

    <p>
      <strong>Podcast Rodeo Show (Ep.71)</strong>
      <br />
      Featured podcast review of <em>Merchants of Dirt</em> Podcast.
      <br />
      Published on September 29, 2017.
    </p>

    <p>
      <strong>Get Lost Racing</strong>
      <br />
      Host, Producer, Writer, and Editor of <em>Get Lost Racing</em>: A podcast
      focused on introducing people to endurance sports.
      <br />
      20 Episodes (2017-2018)
    </p>

    <p>
      <strong>Virginia Podcasters Association (VAPODA) Meetup</strong>
      <br />
      Co-Founder, Event Manager, Presenter Presented monthly <em
        >Learn to Podcast</em
      > presentations and workshops to the general public and community college students.
      <br />
      60+ Presentations (2017-2020) hosted by Germanna Community College, Fredricksburg,
      Virginia
      <br />
      [<a
        href="https://www.slideshare.net/KyleBondo/presentations"
        target="_blank">SLIDES</a
      >]
    </p>

    <p>
      <strong>Merchants of Dirt</strong>
      <br />
      Host, Producer, Writer, Editor Host of <em>Merchants of Dirt</em>: A
      podcast designed to help offroad race directors build better races.
      <br />
      55 Episodes (2016-2020)
    </p>

    <p>
      <strong
        ><a
          href="https://2015.hamptonroads.wordcamp.org/speakers/"
          target="_blank">WordCamp Hampton Roads</a
        >
      </strong>
      <br />
      Featured Speaker presenting a talk titled <em>Monsters of WordPress</em> that
      introduced developers to WordPress Multisite design patterns.
      <br />
      Presented on October 17, 2015, in Hampton Roads, Virginia
    </p>

    <p>
      <strong
        ><a href="https://2015.asheville.wordcamp.org/schedule/" target="_blank"
          >WordCamp Asheville</a
        >
      </strong>
      <br />
      Featured Speaker presenting a talk titled <em>Monsters of WordPress</em> that
      introduced developers to WordPress Multisite design patterns.
      <br />
      Presented on July 26, 2015, in Asheville, North Carolina
      <br />
      [<a
        href="https://wordpress.tv/2015/09/30/kyle-bondo-monsters-of-wordpress/"
        target="_blank">VIDEO</a
      >]
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 2rem;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
