<footer>
  <span>
    Copyright &copy; {new Date().getFullYear()}. kylebondo.com.
  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: 0.8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
