---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
  description: string;
  permalink: string;
  current?: string;
}
const { title, description, permalink, current } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <style>
      /* Prevent flash of white during dark mode */
      html {
        background-color: black;
        color: white;
        transition:
          background-color 0.3s ease,
          color 0.3s ease;
      }

      html:not(.dark) {
        background-color: white;
        color: black;
      }

      /* Apply transition to body for smooth color shift */
      body {
        transition:
          background-color 0.3s ease,
          color 0.3s ease;
      }

      /* Preload dark mode preference */
      body.no-js {
        background-color: white;
        color: black;
      }

      body.no-js.dark {
        background-color: black;
        color: white;
      }
    </style>
    <script>
      // Immediately apply dark mode based on user's system preference
      const prefersDarkMode = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;
      if (prefersDarkMode) {
        document.body.classList.add("dark");
      }

      // Add class to trigger body transition once JS runs
      window.addEventListener("load", function () {
        document.body.classList.remove("no-js"); // Remove the no-js class after JS loads
      });
    </script>
  </head>
  <body class="no-js">
    <div class="layout">
      <Header current={current} />

      <main>
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>

<style>
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
  }

  main {
    flex: 1;
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    padding: 1em 2em;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
</style>
